professor_notes/

# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex
*.synctex.gz
*.fls
*.fdb_latexmk
*.ilg
*.ind
*.idx
*.xdy
*.glo
*.gls
*.glg
*.ist
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.nlo
*.nls
*.mw
*.lec
*.sty
*.cls